@tailwind base;
  @tailwind components;
  @tailwind utilities;

/*body {*/
/*  font-family: Quicksand, serif !important;*/
/*}*/


@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Bold.woff2') format('woff2'),
  url('./font/Geist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Light.woff2') format('woff2'),
  url('./font/Geist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Black.woff2') format('woff2'),
  url('./font/Geist-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-SemiBold.woff2') format('woff2'),
  url('./font/Geist-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Regular.woff2') format('woff2'),
  url('./font/Geist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Medium.woff2') format('woff2'),
  url('./font/Geist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist UltraBlack';
  src: url('./font/Geist-UltraBlack.woff2') format('woff2'),
  url('./font/Geist-UltraBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-Thin.woff2') format('woff2'),
  url('./font/Geist-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('./font/Geist-UltraLight.woff2') format('woff2'),
  url('./font/Geist-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@layer base {
    * {
      @apply border-border;
    }
    body {
      font-family: 'Geist';
      @apply bg-background text-foreground;
    }
    .main-content{

    }
  }

p {margin: 0 !important;}
.m-0{margin: 0 !important;}

.bodyScreenHeight{height: calc(100vh - 60px);}

.active-menu svg {
  fill: hsl(var(--primary));
}
.active-menu svg path {
  fill: hsl(var(--primary));
}

.setting-active-menu svg {
  stroke: hsl(var(--primary));
}
.setting-active-menu svg path {
  stroke: hsl(var(--primary));
}

.menu-icon svg {
  fill: hsl(var(--muted-foreground));
}
.menu-icon svg path {
  fill: hsl(var(--muted-foreground));
}

.profile-menu-icon svg {
  stroke: hsl(var(--muted-foreground));
}
.profile-menu-icon svg path {
  stroke: hsl(var(--muted-foreground));
}

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: hsl(240, 5%, 65%) !important;
}

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: hsl(240, 5%, 84%) !important;
}

.focus\:ring-ring:focus {
  --tw-ring-color: hsl(240, 5%, 65%) !important;
}

.focus\:ring-ring:focus {
  --tw-ring-color: hsl(240, 5%, 84%) !important;
}

.team-tab-active.data-\[state\=active\]\:bg-background[data-state=active] {
  background-color: hsl(var(--primary)/15%);
}

.team-tab-text-active.data-\[state\=active\]\:text-foreground[data-state=active] {
  color: hsl(var(--primary));
}

.container{width:100%;display: block; max-width: 1120px; padding-right: 12px;padding-left: 12px}
.container-secondary{width:100%;display: block; max-width: 1622px; padding-right: 32px;padding-left: 32px}
input[type="search"]::-webkit-search-cancel-button {display: none;}

button.absolute.right-4.top-4.rounded-sm.opacity-70.ring-offset-background.transition-opacity.hover\:opacity-100.focus\:outline-none.focus\:ring-2.focus\:ring-ring.focus\:ring-offset-2.disabled\:pointer-events-none.data-\[state\=open\]\:bg-secondary{display: none}
button.inline-flex.items-center.justify-center.whitespace-nowrap.rounded-md.text-sm.ring-offset-background.transition-colors.focus-visible\:outline-none.focus-visible\:ring-2.focus-visible\:ring-ring.focus-visible\:ring-offset-2.disabled\:pointer-events-none.disabled\:opacity-50.hover\:bg-accent.hover\:text-accent-foreground{margin: 0}

.width-fit-content{width: fit-content;}
.height-inherit{height: inherit;}

.m-inline-0{margin-inline: 0 !important}

/*Color Picker*/
.color_picker span {top: -2px; left: 16px;position: absolute;display: flex;flex-wrap: wrap;align-items: center;padding-left: 4px;cursor: pointer;}
.color_picker input[type=color] {width: 40px;padding: 3px 7px;background: #fff;border: none;border-radius: 4px 0 0 4px;position: absolute;top: 0;left: 0;bottom: 0;display: inline-block;height: auto;}
.color_picker input:focus {outline: none;}
.color_picker {position: relative;}
.color_picker_color {width: 16px; height: 16px;}
.sketch-picker {position: absolute; z-index: 999; top: 36px}
.LinesEllipsis-ellipsis{color: #7C3AED;font-family: "Geist";font-weight: 600;}

/*span LinesEllipsis-ellipsis*/
span.LinesEllipsis-ellipsis {
  color: hsl(var(--primary)) !important;
  font-weight: 600;
  cursor: pointer;
}

/*description bg color*/
@layer components {
  .description-container div p span {
    /*background-color: #000000; !* Default background color *!*/
    /*color: #ffffff; !* Default text color *!*/
  }

  .dark .description-container div p span {
    background-color: hsl(var(--card)) !important; /* Dark theme background color */
    color: hsl(var(--primary-foreground)) !important; /* Dark theme text color */
  }

  .dark .description-container div p span.LinesEllipsis-ellipsis {
    background-color: hsl(var(--card)) !important; /* Dark theme background color */
    color: hsl(var(--primary)) !important; /* Dark theme text color */
    font-weight: 600;
    cursor: pointer;
  }

  .dark .description-container div p span LinesEllipsis-unit {
    background-color: hsl(var(--card)) !important; /* Dark theme background color */
    color: hsl(var(--primary-foreground)) !important; /* Dark theme text color */
  }

  .dark .description-container div p strong {
    background-color: hsl(var(--card)) !important; /* Dark theme background color */
    color: hsl(var(--primary-foreground)) !important; /* Dark theme text color */
  }

  span.LinesEllipsis-ellipsis {
    background-color: #000000; /* Default background color */
    color: #ffffff; /* Default text color */
  }
}


